:root {
  --main-font: "Lato", sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: #264d56;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 64px;
  height: auto;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-colunms-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive {
  width: 100%;
  display: block;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.instagram-embeds {
  margin: 30px 0;
}

.card {
  background: #fff;
  margin: 30px 0;
}

.card-header.grid {
  gap: 0;
}

.card-body {
  padding: 14px;
}

.card h4 {
  color: rgba(0, 0, 0, 0.62);
  font-size: 20px;
  line-height: 1.5;
  margin: 5px;
}

.card p {
  margin: 5px;
  font-size: 22px;
}

.card-footer {
  padding: 17px;
}

.btn {
  display: block;
  color: #fff;
  background-color: #264d56;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  width: 85%;
  margin: 0 auto;
  border-radius: 4px;
  text-decoration: none;
}

.instagram-photo-heading {
  text-align: center;
  color: #939393;
  font-size: 25px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.secondary-section {
  background-color: #649193;
}

section .text-center {
  text-align: center;
  color: #fff;
  font-size: 35px;
  line-height: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url("../images/zakopane.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 260px 0;
}

header h1 {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 1;
  margin: 0;
}

header a {
  background-color: #fff;
  padding: 15px 32px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 32px;
  text-align: center;
  text-decoration: none;
  color: black;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

main {
  background-color: #fff;
}

main h2 {
  color: #939393;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

main h3 {
  color: rgba(0, 0, 0, 0.71);
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

main p {
  font-size: 23px;
  font-weight: 100;
  line-height: 1.5;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url("../images/mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

footer h3 {
  font-size: 20px;
  font-weight: 400;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #fff;
  opacity: 0.7;
}

/* Media Queries */

@media (max-width: 960px) {
  header {
    padding: 100px 0;
  }
  header h1 {
    font-size: 40px;
  }
  header h3 {
    font-size: 25px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
